body, p, span {
  font-size: 14px;
  line-height: 20px;
  @include breakpoint(medium) {
    font-size: 13px;
    line-height: 19px;
  }
  @include breakpoint(large) {
    font-size: 15px;
    line-height: 22px;
  }
}

.booking-bar-button {
  font-size: 10px;
  line-height: 12px;
}

h1,h2 {
  margin-bottom: 10px;
  @include breakpoint(large) {
  margin-bottom: 35px;
}
}

.cta-link {
  font-size: 12px;
  line-height: 14px;
  @include breakpoint(medium) {
    font-size: 11px;
    line-height: 13px;
  }
  @include breakpoint(large) {
    font-size: 12px;
    line-height: 14px;
  }
}

.cta-button {
  font-size: 12px;
  line-height: 14px;
  @include breakpoint(medium) {
    font-size: 11px;
    line-height: 13px;
  }
  @include breakpoint(large) {
    font-size: 12px;
    line-height: 14px;
  }
}

.date {
  font-size: 35px;
  line-height: 35px;
  @include breakpoint(medium) {
    font-size: 40px;
    line-height: 40px;
  }
}

.smallest {
  font-size: 10px;
  line-height: 13px;
}

.h1 {
  font-size: 25px;
  line-height: 30px;
  @include breakpoint(medium) {
    font-size: 35px;
    line-height: 40px;
  }
  @include breakpoint(large) {
    font-size: 35px;
    line-height: 40px;
  }
}

.h2 {
  font-size: 12px;
  line-height: 15px;
  @include breakpoint(medium) {
    font-size: 14px;
    line-height: 18px;
  }
  @include breakpoint(large) {
    font-size: 14px;
    line-height: 18px;
  }
}

.blue {
  color: $ritz-blue;
}